@import './var';
@import "fun";
body,html {
  margin:0;
  padding:0;
  width:100%;
  height:100%;
}
body {
  font-family: "Microsoft YaHei",Arial,Helvetica,sans-serif;
  color:@black-text;
}
input {
  line-height: normal;
}
input,textarea,button{
  outline: none;
  margin:0;
  padding:0;
  border:0;
  vertical-align: middle;
  background: none;
  &::placeholder{
    color:#cccccc;
  }
}
ul,li,ol,dl,dt,dd,div,header,footer,aside,article,section,form,h2,h3,h4,p {
  margin:0;
  padding:0;
  box-sizing: border-box;
}
ul,li,ol{
  list-style: none;
}
a {
  text-decoration: none;
  &:hover{
    text-decoration: none;
  }
}
.container{
  &:before{
    content:'';
    display: table;
    clear: both;
  }
  &:after{
    content:'';
    display: table;
  }
}
.fl{
  float: left;
}
.fr{
  float: right;
}
.clear{
  clear:both;
}
.left {
  text-align: left;
}
.center {
  text-align: center;
}
.right {
  text-align: right;
}
.lh-30 {
  line-height: 30px;
}
.lh-35 {
  line-height: 35px;
}
.lh-40 {
  line-height: 40px;
}
.m-t10{
  margin-top: 10px;
}
.fs20{
  font-size: 20px;
}
.fs30{
  font-size: 30px;
}
.bold{
  font-weight: 600;
}
.red {
  color: @red-text
}
.gray {
  color: @gray-text
}
.white{
  color:#fff;
}
.golden{
  color:@golden;
}
.yellow{
  color: @yellow-text;
}
.black {
  color: @black-text
}
.bg-red{
  background-color: @red-bg
}
.bg-gray{
  background-color: @gray-bg
}
.bg-white{
  background-color: #fff;
}
.bg-yellow{
  background-color: @yellow-bg;
  color:red;
}
.bg-black {
  background-color:#333;
}
.re{
  position:relative;
}
.ab{
  position:absolute;
}
.m-auto{
  margin: 0 auto
}
.flex-middle { //居中 垂直
  .flexbox();
  .align-items(center);
  .justify-content(center);
}

.flex-space {
  .flexbox();
  .justify-content(space-between);
  .align-items(center);
}
.flex-end{
  .flexbox();
  .align-items(flex-end);
  .justify-content(space-between);
}