@import './var';
.fs(@px) {
  font-size: unit(@px * @dpr / @html_size, rem);
}
.w(@px) {
  width: unit(@px*@dpr/@html_size, rem);
}
.h(@px) {
  height: unit(@px*@dpr/@html_size, rem);
}
.lh(@px) {
  line-height: unit(@px*@dpr/@html_size, rem);
}
.mg(@all) {
  margin:unit(@all*@dpr/@html_size, rem);
}
.mg-top-left(@top_and_bottom, @right_and_left) {
  margin: unit(@top_and_bottom*@dpr/@html_size, rem) unit(@right_and_left*@dpr/@html_size, rem);
}
.m-t(@px) {
  margin-top: unit(@px*@dpr/@html_size, rem);
}
.m-r(@px) {
  margin-right: unit(@px*@dpr/@html_size, rem);
}
.m-b(@px) {
  margin-bottom: unit(@px*@dpr/@html_size, rem);
}
.m-l(@px) {
  margin-left: unit(@px*@dpr/@html_size, rem);
}
.pd(@all) {
  padding:unit(@all*@dpr/@html_size, rem);
}
.pd-top-left (@top_and_bottom, @right_and_left) {
  padding: unit(@top_and_bottom*@dpr/@html_size, rem) unit(@right_and_left*@dpr/@html_size, rem);
}
.p-t(@px) {
  padding-top: unit(@px*@dpr/@html_size, rem);
}
.p-r(@px) {
  padding-right: unit(@px*@dpr/@html_size, rem);
}
.p-b(@px) {
  padding-bottom: unit(@px*@dpr/@html_size, rem);
}
.p-l(@px) {
  padding-left: unit(@px*@dpr/@html_size, rem);
}
.left(@px){
  left: unit(@px*@dpr/@html_size, rem);
}
.right(@px){
  right: unit(@px*@dpr/@html_size, rem);
}



















































